header {
  display: none;
}

footer {
  display: none;
}

.login-container {
  background-image: url("../../../../assets/image/5ad89931d75d7.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #fbfbfb;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group-index {
  margin-bottom: 20px;
}

.form-group-index label {
  display: block;
  font-weight: bold;
}

.form-group-index input[type=text]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group-index input[type=password]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}